body{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
}
header{
    background-image: url(../images/open_space_work_box.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
}

main{
    display: grid;
    grid-template-rows: 2fr 2fr;
    background-color: white;
    border:2px solid black;
    height: 1075px;
}

.skills{
    display: grid;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
.skills ul {
    list-style-type:none;
}
.softSkills{
    border-bottom: 2px solid red;
    width: 80%;
    margin-left: 10%;
}
.skill{
    border-bottom: 2px solid red;
    width: 80%;
    margin-left: 10%;
}

.projet{
    border-bottom: 2px solid red;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}


.contact{
    border: 2px solid black;
    border-radius: 25%;
    width: 50%;
    margin-left: 280px;
    margin-top: 20px;
    padding-bottom: 20px;
    
}
h3{
    color: red;
    font-size: 28px;
}
 a {
    
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 20px;
    color: black;
}

a:hover{
    color: red;
}


